<!--====== SERVICES PART START ======-->
<section id="service" class="services-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-10">
                    <h4 class="title">{{'About_me'|translate}}</h4>
                    <p class="text">{{'About_me_description'|translate}}</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            
                            <div class="services-icon" >
                                <i class="fa-solid fa-user-secret"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">{{'persional_profile'|translate}}</h4>
                                <p class="text">{{'last_name'|translate}} {{'first_name'|translate}}: Hoàng Quốc Duy
                                    <br>{{'birthday'|translate}}: 26/05/****.
                                </p>
                                <a [routerLink]="['/persional-profile']" target="_blank">First Component</a>
                                <!-- <button type="button" class="btn btn-link" (click)="openDialog('1500ms', '1500ms')"> Xem thêm <i class="fa-solid fa-arrow-up-right-from-square"></i></button> -->
                                
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="fa-solid fa-briefcase"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Mục tiêu</h4>
                                <p class="text">Short description for the ones<br> who look for something new.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="fa-solid fa-building"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Kinh nghiệm</h4>
                                <p class="text">Short description for the ones<br> who look for something new.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="col-md-6">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="fa-solid fa-school"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">Học vấn</h4>
                                <p class="text">Short description for the ones<br> who look for something new.</p>
                            </div>
                        </div> <!-- services content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- row -->
        </div> <!-- row -->
    </div> <!-- conteiner -->
    <div class="services-image d-lg-flex align-items-center">
        <div class="image">
            <img src="assets/images/services.png" alt="Services">
        </div>
    </div> <!-- services image -->
</section>

<!--====== SERVICES PART ENDS ======-->