<!--====== HEADER PART START ======-->
<header class="header-area">
    <div class="navgition navgition-transparent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img src="assets/images/Hoang-Logo.png" alt="Logo" width="200px">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOne"
                            aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item active">
                                    <a class="page-scroll" href="#home"><span> {{'Home'|translate}} </span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#service"><span> {{'Abouts'|translate}} </span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#pricing">{{'Projects'|translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#pricing">{{'Sharing'|translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#contact">{{'Contact'|translate}}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="navbar-social d-none d-sm-flex align-items-center">
                            <span>{{'Follow_Us'|translate}}</span>
                            <ul>
                                <li><a href="https://www.facebook.com/ken.hoang265/" target="_blank"><i
                                            class="lni-facebook-filled"></i></a></li>
                                <li><a href="https://www.instagram.com/hoangduy265/" target="_blank"><i
                                            class="lni-instagram-original"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/duy-hoang-01730798/" target="_blank"><i
                                            class="lni-linkedin-original"></i></a></li>

                                <!-- <li>
                                    <span class="form-inline">
                                        <select class="form-control" #selectedLang
                                            (change)="switchLanguage(selectedLang.value)">
                                            <option *ngFor="let language of translate.getLangs()" [value]="language"
                                                [selected]="language === translate.currentLang">
                                                {{language}}
                                            </option>
                                        </select>
                                    </span>
                                </li> -->
                            </ul>
                        </div>

                        <div class="navbar-social d-none d-sm-flex align-items-center language_bar">
                            <ul>
                                <li><a href="#"><img src="../../assets/images/en-flag.png" id="en-flag"
                                            (click)="check_en()">EN</a></li>
                                <li><a href="#"><img src="../../assets/images/vi-flag.png" id="vi-flag"
                                            (click)="check_vi()">VI</a></li>
                            </ul>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- navgition -->

    <div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/my-banner-01.png)">
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="header-content text-center">
                        <h3 class="header-title">{{'Banner_header_title'|translate}}</h3>
                        <p class="text">{{'Banner_header_description'|translate}}</p>
                        <!-- <ul class="header-btn">
                            <li><a class="main-btn btn-one" href="#">GET IN TOUCH</a></li>
                            <li><a class="main-btn btn-two video-popup"
                                    href="#">WATCH THE VIDEO <i
                                        class="lni-play"></i></a></li>
                        </ul> -->
                    </div> <!-- header content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        
        <div class="header-shape">
            <img src="../../assets/images/my-header.png" alt="" style="z-index: 1; max-width: 600px; margin-bottom: -100px;">
            <img src="assets/images/header-shape.svg" alt="shape">
        </div>
        
    </div> <!-- header content -->
</header>
<!--====== HEADER PART ENDS ======-->

<app-about></app-about>

